.main-container {
  margin: 0;
  padding: 0;
}
.main-row {
  margin: 0;
  padding: 0;
}

.logo-side2 {
  background: var(--bg-white);
  box-shadow: 1px 1px 50px #e0e0e057, -1px -1px 50px #e0e0e057;
  border-radius: 0 0 15px 0;
}

input.form-login {
  background-color: var(--white);
  border: none;
}

.greeting {
  color: var(--gray-primary);
}

label.label {
  font-size: smaller;
  position: absolute;
  transform: translateX(1rem);
}

button.btn-submit {
  background: #0d8be4;
  box-shadow: rgba(80, 102, 225, 0.537) 0px 2px 8px 0px;
  border-radius: 10px;
  border: none;
}

.eye-icon {
  float: right;
  margin-right: 1rem;
  margin-top: -2.8rem;
  position: relative;
  z-index: 2;
  color: var(--color-primary);
}

.credential {
  color: var(--gray-500);
  font-size: small;
}

.--polman-logo {
  width: 15rem;
  margin-top: 7.6rem;
}

label {
  color: var(--gray-500);
  pointer-events: none;
}

.text-question {
  color: var(--gray-500);
}

.form-group {
  transition: var(--transition);
}
