body {
  background: var(--bg-primary);
}

ul {
  list-style: none;
}

.silakend {
  transition: var(--transition);
}

.silakend:hover {
  transform: scale(1.2, 1.2);
}

.polman-logo {
  width: 1.8rem;
  transform: translateY(-0.1rem);
}

.brand-icon {
  color: var(--bg-white);
}
a.brand-icon:hover {
  color: var(--bg-white);
}

.color-primary {
  color: var(--color-primary);
}

.side-menu {
  font-size: 15px;
  transition: var(--transition);
}

.side-menu:hover {
  border-radius: 14px;
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #0c6db7,
    #1777cd,
    #2681e2,
    #388af8
  );
  text-decoration: none;
  box-shadow: rgba(80, 102, 225, 0.45) 0px 2px 8px 0px;
  transform: scale(1.02, 1.02);
}

.nav-pills .side-menu .nav-link {
  color: var(--bg-white);
  border-radius: 14px;
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #0c6db7,
    #1777cd,
    #2681e2,
    #388af8
  );
  text-decoration: none;
  box-shadow: rgba(80, 102, 225, 0.45) 0px 2px 8px 0px;
  transform: scale(1.02, 1.02);
}

.nav-pills .side-menu .nav-link:not(.active) {
  color: var(--gray-500);
  text-decoration: none;
  background: transparent;
  box-shadow: none;
  transform: scale(0.95, 0.95);
}

.submenu__sidebar,
.dropdown__menu {
  background-color: var(--bg-primary);
  max-width: min-content;
}

.MenuItem {
  transform: scale(0.9, 0.9);
}
