.nav-text {
  color: var(--gray-500);
  font-weight: 600;
}

a {
  text-decoration: none;
}

.bc-icon {
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #297ab9,
    #4091d0,
    #55a9e7,
    #6ac2ff
  );
  text-decoration: none;
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
  color: var(--bg-primary);
  border-radius: 50px;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-top: -0.3rem;
}

.navbar {
  margin-top: 1.8rem;
}

.sidebar-mobile {
  max-width: 50%;
  background: var(--bg-primary);
}

.button-toggle {
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #297ab9,
    #4091d0,
    #55a9e7,
    #6ac2ff
  );
  text-decoration: none;
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
  color: var(--bg-primary);
  border-radius: 50px;
  border: none;
}
#dropdown-autoclose-true {
  font-weight: 600;
  color: var(--color-primary);
  background: none;
  border: none;
}

.dropdown-body a.dropdown-item {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  padding: 0.3rem;
  transition: var(--transition);
  width: 90%;
}

.dropdown-body a.dropdown-item:hover {
  color: var(--bg-white);
  border-radius: 6px;
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #0c6db7,
    #1777cd,
    #2681e2,
    #388af8
  );
}

.dropdown-body {
  border: none;
}
