.card {
  border: none;
}

.bg__primary {
  background: var(--bg-primary);
}

.card-header {
  background: var(--bg-primary);
  border: none;
}

.btn-add {
  background-image: linear-gradient(
    to bottom,
    #0c75c0,
    #0d7cd1,
    #1a81db,
    #2681e2,
    #388af8
  );
  box-shadow: rgba(80, 102, 225, 0.45) 0px 2px 8px 0px;
  color: var(--white);
  border-radius: 10px;
  border: none;
  margin-left: 0.5rem;
  transition: 200ms;
  transform: translateY(-0.3rem);
}

.btn-add:hover {
  background-image: linear-gradient(
    to bottom,
    #0c75c0,
    #0d7cd1,
    #1a81db,
    #2681e2,
    #388af8
  );
  border-radius: 10px;
  box-shadow: none;
}

.btn-edit {
  background: #e8c444;
  color: #ffffff;
  border: none;
  border-radius: var(--borderRadius);
  box-shadow: rgba(225, 198, 80, 0.45) 0px 2px 8px 0px;
}

.btn-detail {
  background: #4f55da;
  color: #ffffff;
  border: none;
  border-radius: var(--borderRadius);
  box-shadow: rgba(133, 80, 225, 0.45) 0px 2px 8px 0px;
}

.btn-delete {
  background: #f06445;
  color: #ffffff;
  border: none;
  border-radius: var(--borderRadius);
  box-shadow: rgba(225, 80, 80, 0.45) 0px 2px 8px 0px;
}

.alert-update-user {
  transform: translateY(-2rem);
}

.rolesList {
  margin-left: -1.9rem;
}

.main__title {
  font-size: 23px;
  line-height: 20px;
}

.breadcrumb__item {
  font-size: 12px;
  line-height: 18px;
}

.breadcrumb__divider {
  color: #666666;
}

input.input.form-custom {
  background: var(--bg-primary);
  border: none;
  padding: 1rem;
}

textarea.textarea-custom {
  resize: none;
  background-color: var(--bg-primary);
  border: none;
  height: 3rem;
}

button.btn-post {
  background-image: linear-gradient(
    to bottom,
    #0c75c0,
    #0d7cd1,
    #1a81db,
    #2681e2,
    #388af8
  );
  box-shadow: rgba(80, 102, 225, 0.45) 0px 2px 8px 0px;
  border: none;
  padding: 0.7rem;
  transition: var(--transition);
}

button.btn-post:hover {
  background-image: linear-gradient(
    to bottom,
    #0962a272,
    #0c6db76e,
    #1778cd6a,
    #2681e269,
    #388bf863
  );
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
}

.alert__custom {
  border: none;
  border-radius: var(--borderRadius);
  background: #eff0ff;
}

.alert__customPrimary {
  border: none;
  border-radius: var(--borderRadius);
  background: #4f55da;
  color: #f8f6f2;
  font-size: 16px;
  box-shadow: rgba(80, 102, 225, 0.45) 0px 2px 8px 0px;
}

.btn__primary {
  background: #eff0ff;
  color: #4f55da;
  border-radius: var(--borderRadius);
  padding: 10px;
}

.alert__outlinePrimary {
  background: #eff0ff;
  color: #4f55da;
  border: 1px #4f55da solid;
  border-radius: var(--borderRadius);
}

.list__title {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--gray-500);
}
