input.input.form-custom {
  background: var(--bg-primary);
  border: none;
}

textarea.textarea-custom {
  resize: none;
  background-color: var(--bg-primary);
  border: none;
  height: 3rem;
}

button.btn-post {
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #0c6db7,
    #1777cd,
    #2681e2,
    #388af8
  );
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
  border: none;

  padding: 0.7rem;
}
