.card {
  border: none;
  margin: 0;
  padding: 0;
}

.btn-add {
  background-image: linear-gradient(
    to bottom,
    #084a79,
    #0b5e9e,
    #166dba,
    #2479d4,
    #3380e3
  );
  color: var(--white);
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
  border-radius: 10px;
  margin-left: 0.5rem;
  transition: 500ms;
}

.btn-add:hover {
  background: var(--white);
  outline: none;
  color: var(--color-primary);
  box-shadow: none;
}

td {
  font-size: 14px;
}

.btn-edit {
  background: linear-gradient(145deg, #dfffff, #bbdae6);

  color: #04297a;
  border: none;
}

.btn-detail {
  background: linear-gradient(145deg, #dfffff, #91dafc);
  color: #25abf3;
  border: none;
}

.btn-delete {
  background: linear-gradient(145deg, #fff7e8, #e6d0c3);

  color: #7a0c2e;
  border: none;
}

.alert-custom {
  border: none;
}

.alert-update-user {
  transform: translateY(-2rem);
}

.rolesList {
  margin-left: -1.9rem;
}
