input[type="number"],
input[type="password"],
input[type="text"],
input[type="email"] {
  background-color: var(--white);
}

input[type="number"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid var(--color-primary);
  box-shadow: none;
  cursor: text;
}

.text-darker {
  color: var(--color-primary);
}

.modalCustom {
  background-color: var(--bg-primary);
  border-radius: 14px;
}

button.btn-post {
  background-image: linear-gradient(
    to bottom,
    #0963a2,
    #0c6db7,
    #1777cd,
    #2681e2,
    #388af8
  );
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
  border: none;
}
