.card {
  border: none;
  margin: 0;
  padding: 0;
}

.btn-add {
  background-image: linear-gradient(
    to bottom,
    #084a79,
    #0b5e9e,
    #166dba,
    #2479d4,
    #3380e3
  );
  color: var(--white);
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
  border-radius: 10px;
  margin-left: 0.5rem;
  transition: 500ms;
}

.btn-add:hover {
  background: var(--bg-primary);
  outline: var(--color-primary);
  color: var(--color-primary);
}

td {
  font-size: 14px;
}

.btn-edit {
  background-image: linear-gradient(
    to bottom,
    #084a79,
    #0b5e9e,
    #166dba,
    #2479d4,
    #3380e3
  );
  border-radius: 10px;
  box-shadow: 1px 1px 50px #0966a83e, -1px -1px 50px #0966a83e;
}
